.row {
    margin: 20px 0;
    & > div {
        padding: 0;
    }
}

#profile-pic {
    text-align: center;
    background-color: #9DBD5D;
    padding: 20px 0;
    img {
        width: 25%;
        margin: auto;
    }
}

#contact-info {
    text-align: center;


}

    #name {
        font-size: 48px;
        letter-spacing: 1.2px;
    }

    #title {
        color: #7A1616;
    }

#icons {
    text-align: center;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 6em;
    a {
        color: #7A1616;
        text-decoration: none;
        outline: none;
    }
}
